@tailwind base;
@tailwind components;
@tailwind utilities;

/* all svgs without a fill attribute should be filled with current color */
svg:not([fill]) {
    fill: currentColor;
}

html {
    @apply text-slate-900
}

button:disabled {
    @apply cursor-not-allowed opacity-50;
}