django
whitenoise
django_browser_reload
openai_whisper
fairseq
tensorboardx
monotonic_align
einops_exts
munch
pydub
scipy
joblib
attr
python_dateutil
babel
phonemizer
cached_path
nltk
matplotlib
transformers
librosa
gunicorn
gevent
